body {
    padding: 20px;
    margin: 40;
    font-family: monospace; 
}

h1 {
    text-align: center;
    font-size: 42px;
}

#cocktailList {
    margin: 2rem;
  }

  input {
    font-family: monospace;
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
  }

img.cocktail-avatar {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

  .cocktailCard {
    text-align: center;
    border: black solid 2px;
    padding: 1rem;
    width: 35rem;
    height: 45rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #800089
  }

  .header-image {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    }

.header-text {
    text-align: center;
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

  .ingredientCard {
    text-align: center;
    border: black solid 2px;
    padding: 1rem;
    width: auto;
    height: auto;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #800089
  }

  .button {
    font-family: monospace;
	background: #B9DFFF;
	color: rgb(14, 7, 209);
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
}

.button:hover {
    font-family: monospace;
	background: #800089;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
}